.notification-container {
  position: fixed;
  top: 10px;
  left: 45%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.notification-items {
  background-color: rgb(160, 158, 158);
  color: aliceblue;
  padding: 8px;
  max-width: 300px;
  margin-bottom: 5px;
}
